[submodule "foundry"]
	path = foundry
	url = https://github.com/ahmadsyafiqkamil/foundy-belajar-dapps.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/ahmadsyafiqkamil/frontend-belajar-dapps.git
